
<article>
	<div style="border-top: 1px solid #99CC33; border-bottom: 1px solid #99CC33; padding-top: .5em; padding-bottom: .5em; margin-bottom: 1em;">
	<h4 class="fancyheading" style="margin-bottom: 0px;">Daily Diet Journal</h4>
    </div>
	<%= render 'form' %>
    <hr class="yellow">
</article>

<aside>
	<h4 style="text-align: center;">Rocco Says:</h4>
	<p>Update your journal every day so we can keep track of your progress and tailor the program for best results.</p>
	<hr class="yellow">
	<p>You can come back and update your Daily Journal as often as you like.</p>
	<p>Just make sure to click Save Journal each time, or we won't be able to save your hard work!</p>
</aside>
